* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    min-width: 700px;
    min-height: 500px;
    z-index: 0;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    z-index: inherit;
}

.right-panel {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: beige;
    z-index: 1;
}

.buttons-panel {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 5%;
}

.buttons-panel button {
    margin: 5px;
}

#blocked-panel {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    z-index: 2;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.main-game-panel {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: #67f;
}

.main-game-panel table {
    width: 100%;
    height: 100%;
}


.main-game-panel table tr {
    margin: none;
    border: none;
}

.main-game-panel table td {
    margin: none;
    border: none;
}

.elements-panel {
    width: 100%;
    height: 40%;
    background-color: rgb(238, 18, 183);
}

.square {
    width: 1%;
    height: 1%;
    background-color: cyan;
    /* background-image: url('../assets/wave.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid;
}

.selected-square {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 100ms;
}

.buttons-panel a {
    text-decoration: none;
}